# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CPUEmu/FileContentIndex/5b3b85ea-901d-4569-89fe-14637952e85a.vsidx
/.vs
/CPUEmu/x64/Debug
/x64/Debug
